header {
    
}

element.style {
  border: 1px solid black;
    width: 500px;
}

element.style {
  border: 
}


aside

.grid-container

body {
    font-family: Arial;
}

body {
  background-color:darkkhaki;
}

.grid-container {
  display: grid;
}