.grid-container {
  display: grid;
  background:pink;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1);
  width: 100%;


  
/*

    justify-content: space;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30vh 10vh;
    gap: 2vw;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1);




    
    */
}

#headline {
  color: red;
}
body {
    margin: 100;
    padding: 100;
    font-family: arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px
}

.section1 {
  border: 1px solid;

}

.section2 {
  border: 1px solid;

}

.section3 {
  border: 1px solid;
}

.section4 {
  border: 1px solid;
}

header {
    grid-area: header;
}


nav {
    grid-area: nav;
    background-color: green;
}

article {
    grid-area: article;
    background-color: crimson;
}

aside {
    grid-area: aside;
    background-color: cyan;
}

footer {
    grid-area: footer;
}
